<!DOCTYPE html>
<html>
<head>
    <title>Weather Test</title>
</head>
<body>
    <h1>Weather Page Test</h1>
    <p>If you can see this, the template is working.</p>
    <p>Title: <%= title %></p>
    <p>User ID: <%= userId %></p>
    <a href="/">Back to Home</a>
</body>
</html>
